<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Zapisz się do newslettera!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="../../../assets/img/undraw_newsletter_vovu.svg"/>
        <h6>Uzyskaj -20% zniżki przy pierwszej rezerwacji!</h6>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Wpisz swój email">
          </div>
        </form>


      </div>
      <div class="modal-footer">
        <app-btn-primary class="btn-primary-modal" type="submit" [btnText]="'Subskrybuj'" data-dismiss="modal"></app-btn-primary>
      </div>
    </div>
  </div>
</div>
